body{
    margin: auto 0;
    color:black;
    font-size:2em;
    font-family: 'Pacifico', cursive, Arial, Helvetica, sans-serif;
}

a {

    text-decoration:  none;
}

ul {
    list-style: none;
}


.viewcart{
	position:fixed;
	width:60px; 
	height:60px;
	bottom:40px;
	right:40px;
    border-radius:50px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    cursor: pointer;
}

.viewcart:hover {
    box-shadow: 1px 1px 8px 10px #CCC;
}


/* Image SlideShow */
.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 100%;
    border-top: 10px rgb(26, 190, 187) solid;
    border-bottom: 10px rgb(26, 190, 187) solid;   
}

.imageSlide {
    display:flex;
    height: 50vh;
    width: 100%;
  
}

.arrowStyle {
    border:none;
    text-decoration:none;
    background-color: inherit;
    color: white;
    cursor:pointer;
    padding: 15px 15px;
    font-size: 50px;
    text-shadow: 4px 4px black;
}

.arrowLeft{
    position:absolute;
    top:17%;
    left:0%;
}
.arrowRight{
    position:absolute;
    top:17%;
    right:0%;    
}

.itemtitle {
    width: 100%;
    height: 100%;
}

.btmborder{
    border-bottom-style: solid;
    border-color: rgb(236, 234, 234);
    width: 60%;
    margin: auto;
    text-align: center;
    align-items: center;
    /* height: 0%; */
    font-size: 2vw;
}

.categorylist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    text-align: center;
    margin:auto;

}


.categorylist li {
    font-size: 1.5vw;
    /* text-shadow: 1px 1px black; */
    font-weight: bold;
    cursor: pointer;
  
}

.shadow {
    text-shadow: 2px 2px 4px gray;
}

.categorylist li:hover{
    text-shadow: 2px 2px 4px gray;
}

.enablegrid {
    display: grid ;
    /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 5%;
    justify-content: center;
    align-content: start;
}

.gridcontainer {
    margin-top: 10%;
    margin-bottom: 10%;
    border-color: rgb(236, 234, 234);
    border-style: solid;
    padding:5px;
    cursor: pointer;
    
}

.gridcontainer:hover {
    border-color:rgb(200, 200, 200) ;
}

.gridcontainer > img{
    width: 100%;
    height: 35vh;

}

.gridcontainer > p{
    font-size:1vw;
    font-weight: bold;
    font-family: 'Comic Neue', cursive, Arial, Helvetica, sans-serif;
}

.itemprice {
    font-weight: bold;
    color: red;
}


/*FOOTER*/
/* footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;

} */

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
.modalcontent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
    font-family: 'Comic Neue', cursive, Arial, Helvetica, sans-serif;
    border-radius: 20px;

  }
.paddingLeft{
    padding-left: 25px;
}

.cartAlert
{
    color:red;
    font-size: 1.5vh;
    display: none;
    vertical-align: top;
    font-weight: bold;
    text-align: left;
}


.modalImage img {
    width:500px;
}

.modalName {
    font-size: 1.5vw;
    font-weight: bold;
    height: 0px;
    vertical-align: top
    /* column-span: ; */
}

.modalSku{
    font-size: 1vw;
    vertical-align: top;
    color: dimgray;
    text-align: right;

}
.modalDesc{
    font-size: 1.2vw;
    vertical-align: top;
}

.modalPrice{
    font-size:1.5vw;
    font-weight: bolder;
    color:red;
    vertical-align: bottom;
}

.modalAddCart button {
    width:100%;
    height: 5vh;
    vertical-align: bottom;
    background-color: rgb(218, 19, 49);
    color:white;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.modalAddCart button:hover {
    background-color: rgb(207, 24, 31);
}

.viewCartHeader {
    font-size: 2vh;
    text-align: center;
    font-weight: bold;
}

.viewCartName {
    font-size: 2vh;
    text-align: center;
    width: 30%;
}


.viewCartQuantity {
    font-size: 2vh;
    text-align: center;
    width: 20%;
}

.viewCartPrice {
    font-size: 2vh;
    text-align: center;
    width: 20%;
}

.viewTotalPrice
{
    text-align: right;
    align-items: right;
    width: 90%;
}

.redBold
{
    color: red;
    font-weight: bolder;
}

.cart{
    border-bottom-style: solid;
    border-color: rgb(236, 234, 234);
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;

}

.ordernow {
    width:18%;
    height: 5vh;
    vertical-align: bottom;
    background-color: rgb(218, 19, 49);
    color:white;
    align-items: right;
    text-align: center;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
}

.ordernow:hover {
    background-color: rgb(207, 24, 31);
}


@media only screen and (max-width:1370px) {
    .arrowRight {
      display: none;
    }
    .arrowLeft {
        display: none;
    }

    .imageContainer {
          height: 20vh;
    }

    .imageSlide {
          height: 20vh; 
    }
    .enablegrid {
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    } 

    .gridcontainer > p{
        font-size:1.5vw;
    }

    .modalImage img {
        width:350px;
    }
      
  }
